.myGrid {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: 0;

  border: 1px solid white;
  padding: 10px;
}

.gridSpace {
	background-color: white;
	transition: 0s 180s;
  border: 1px solid white;
}

.gridSpace:hover {
	background-color: black;
	transition: 0.25s;
}

body {
  min-height: 100vh; /* Let's me center things appended to body flexbox somehow */
  display: flex;
  flex-direction: column;
  
  align-items: center;
  background-color: black;
  margin: 0;
}

#rainbowBtn,
#sizeBtn {
  align-self: stretch;
}

.buttons {
  display: flex;
}

button {
  font-family: 'Sedgwick Ave Display', cursive;
  color: white;
  background-color: transparent;
  border-radius: 7px;
  font-size: 20px;
  border-style: solid;
  border-color: white;
  margin: 10px;
  padding: 7px;
}

button:hover {
  color: black;
  background-color: white;
  border-color: black;
  transition: 0.25s;
}

p {
  color: white;
  font-family: 'Sedgwick Ave Display';
  font-size: 50px;
  margin: 0;
}

#header {
  height: 55px;
  margin-top: 0;
  border-bottom: 1px solid white;
  width: 100%;
  margin-bottom: 55px;
  padding-bottom: 5px;
}

#header p {
  margin-left: 10px;
  text-align: center;  
}