.myGrid {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: 0;
}

.gridSpace {
	background-color: white;
	transition: 0s 180s;
  border: 1px solid black;
}

.gridSpace:hover {
	background-color: black;
	transition: 0.25s;
}
